@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --clr1: #e4dfda;
    --clr2: #d4b483;
    --clr3: #d08b8f;
    --clr4: #6ac8af;
    --clr5: #a96feb;
}

.body {
    background-color: #e4dfda;
}

.landingImage {
    position: relative;
    height: 95vh;
    background-image: url("../assets/homepage_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.landingImageMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.landingTextWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingText {
    max-width: 1000px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 10vw;
    color: white;
}

@media screen and (min-width: 700px) {
    .landingText {
        max-width: 1000px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: 7rem;
        color: white;
    }
}

.arrow{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrowSpan{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrowSpan:nth-child(2){
    animation-delay: -0.2s;
}
.arrowSpan:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.featuresHeading {
    font-size: 2rem;
    width: fit-content;
    margin: 50px auto;
}

.featuresTable {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
}

.row {
    width: 100%;
    margin: 70px 0;
    align-items: center;
    padding: 50px;
}

.col {
    text-align: center;
}

.feature {
    font-size: 3rem;
    font-family: 'Secular One', sans-serif;
}

.featureDetail {
    font-size: 1.5rem;
    color: #936fa1;
    font-weight: 500;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

.featureAnimationLeft {
    animation: slideFromLeft 1.5s forwards;
}

.featureAnimationRight {
    animation: slideFromRight 1.5s forwards;
}

.smallVisible {
    display: block;
}

.bigVisible {
    display: none;
}

@media screen and (min-width: 768px) {
    .smallVisible {
        display: none;
    }

    .bigVisible {
        display: block;
    }
}

.getStartedSection {
    width: 100%;
    background-color: var(--clr5);
    margin: 50px auto;
}

.getStartedP {
    width: fit-content;
    margin: auto;
    font-size: 3rem;
}

.getStartedButton {
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 2rem;
    padding: 30px;
}

.getStartedButton > button {
    background-color: var(--clr4);
}
