@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.header {
    background-color: var(--clr2);
    font-size: 1.4rem;
    height: 50px;
    position: relative;
    margin-top: 0;
}

.navbar {
    width: fit-content;
    margin-right: 0;
}

/* img {
    width: fit-content;
    height:auto;
    text-align: left;
    margin-left: 0;
    display: inline-flex;
} */

.link {
    text-decoration: none;
    color: black;
    margin: 5px;
    font-family: 'Libre Baskerville', serif;
}

.col {
    transition: transform .2s;
}

.col:hover {
    transform: scale(1.3);
    color: var(--clr1);
}

.hmbg {
    background-color: lightgray;
    width: 20px;
    height: 2px;
    margin: 5px;
}

.showMenu {
    display: none;
}

@media screen and (max-width: 576px) {
    .collapsibleMenu {
        display: none;
    }

    .showMenu {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        z-index: 1;
    }
}