@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
.main {
    background-color: rgb(169, 111, 235, 0.6);
    background-attachment: fixed; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width:100%
}
.container {
    width: 60%;
    height: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    text-align: center;
    align-items: center;
    background: inherit;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2%;
    }
.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .6);
    filter: blur(10px);
}
.container {
    background: inherit;
}
.heading1 {
    font-family: 'Preahvihear', sans-serif;
    text-align: center;
    margin: 3%;
}

.profilebg {
    background-image: url('https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.profilepic {
    padding-top: 5%;
    width: 20%;
    height:auto;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.heading2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.content {
    font-family: 'Domine', serif;
    margin-left: 10%;
    text-align: left;
    font-size: large;
}

span {
    font-weight: bold;
}

.card {
    margin: 0 auto;
    margin-top: 3%;
    width: 30%;
}
@media (max-width: 600px)
{
    .card {
        min-width: 75%;
    }
}