@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
.main {
    background-color: #6ac8af;
    background-attachment: fixed; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width:100%;
    padding: 50px;
}
.body {
    background-color: #6ac8af;
    height: fit-content;
}
.heading {
    font-family: 'Preahvihear', sans-serif;
    text-align: center;
}
.content {
    font-family: 'Domine', serif;
    margin-left: 10%;
    text-align: left;
    font-size: large;
}
.restaurantpic {
    text-align: right;
    float:right;
}
span {
    font-weight: bold;
}

.cardR {
    margin: 0 auto;
    width: 70%;
}
@media (max-width: 600px)
{
    .cardR {
        min-width: 75%;
    }
}
@media (max-width: 350px)
{
    .heading {
        font-size: 5vw;
    }
    .headingR {
        font-size: 10vw !important;
    }
    .cardR {
        zoom: 50%;
    }
}


.headingR {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 250%;
}

.cardsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}