.fa {
    font-family: 'FontAwesome' !important;
}

.section {
    width: 100%;
    margin: 0;
    background-color: var(--clr4);
    padding: 30px;
}

.container {
    max-width: 1000px;
    background-color: #fcfcf1;
    padding: 50px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: rgb(49, 49, 49) 5px 5px;
}

.col {
    font-size: min(1rem, 5vw);
}

.main {
    text-align: center;
}

.main h3 {
    font-size: min(3rem, 15vw);
}

.main span {
    color: gold;
}

.reviewContainer {
    margin-top: 30px;
}

.reviewContainer > p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
}

.reviewBlock {
    background-color: rgb(165, 219, 133);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 2px blueviolet solid;
    border-radius: 10px;
}

.images {
    border: 3px black solid;
    width: min(75vw, 400px) !important;
    height: min(56.25vw, 300px);
    padding: 0;
    margin: 30px auto;
}

.imageSlide {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    padding: 0;
}

.imageSlide > img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 575px) {
    .section {
        padding: 0;
    }
    .container {
        padding: 5vw;
    }
}